@import './bulma.min.css';
@import './bulma-extensions.min.css';
@import './bulma-checkradio.min.css';
@import './bulma-tooltip.min.css';

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #333;
}

.level {
	display: none;

	@media (max-width: 960px) {
		display: block;
	}
}

.h_hero {
	
	@media screen and (max-width: 1023px) {
		padding: 15px 30px;
		// transform: translateY(-20px);
	}

	@media screen and (max-width: 768px) {
		padding: 10px 10px;
	}
}

.nlred {
	background-color: #fff2e7;
	// background-color: #ffcdd2;
}

#b-r {
	border-radius: 10px;
}

.main-ui {
	max-width: 800px;
	margin: 0 auto;
}

.our-form {
	display: flex;
	justify-content: center;
}

.status {
	text-align: center;
	font-size: 1.2rem;
	line-height: 2rem;
}

.boxes2 {
	display: flex;
	width: 100%;
}

.progress1 {
	border: 1px solid #b0b0b0;
	// border: 1px solid #c7c7c7;
	border-right: none;
	position: relative;
}

.progress-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #7ecc00;
	// background-color: #cc5200;#7ecc00
	opacity: 0.57;
	/* progressBar.style.transform = `scaleX(${state.score / 10})` */
	transform: scaleX(0);
	transform-origin: center left;
	transition: transform 0.4s ease-out;
}

.box1 {
	height: 40px;
	border-right: 1px solid #c7c7c7;
	flex: 1;

	@media screen and (max-width: 1023px) {
		height: 25px;
	}

	@media screen and (max-width: 768px) {
		height: 20px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	// align-items: center;
	align-items: flex-start;
	// opacity: 0;
	visibility: hidden;
	// z-index: -1;
	transition: all 0.33s ease-out;
	transform: scale(1.2);
}

.overlay-inner {
	text-align: center;
	margin-top: 4px;;
	max-width: 700px;
	opacity: .95;
}

body.overlay-is-open .overlay,
.overlay--visible {
	// opacity: 1;
	visibility: visible;
	transform: scale(1);
}

body.overlay-is-open .main-ui,
.blurred {
	filter: blur(0px);
	// ある要素にぼかし（ブラー）効果を付けるには、filterプロパティのblur関数を使用します。
	// ※ 入れ子になっている要素を含めて効果がかかります。
	// ぼかし（ブラー）は要素のふちから外側と内側の両方に広がりが発生します。
	// 【構文】
	// filter:blur(ぼかし距離);
}

@keyframes showScore {
	70% {
		color: lightgreen;
		transform: scale(1.2);
	}

	100% {
		color: #333;
		transform: scale(1);
	}
}

.animate-score {
	animation: 1s showScore;
}

@keyframes showError {
	70% {
		color: red;
		transform: scale(1.2);
	}

	100% {
		color: #333;
		transform: scale(1);
	}
}

.animate-wrong {
	animation: 0.45s showError;
}

.opts {
	font-size: 0.8rem;
}

.problem {
	font-size: 5rem;
	margin: 0;
	text-align: center;
}

.end-message {
	font-size: 1.5rem;
	margin-top: 0;
}

.reset-button {
	font-size: 1.2rem;
	background-color: #004094;
	border: none;
	color: #fff;
	border-radius: 7px;
	padding: 12px 20px;
	display: inline-block;
	outline: none;
	cursor: pointer;
}

.reset-button:hover {
	background-color: #00367e;
}

.reset-button:focus {
	background-color: #00275a;
}

.btnS {
	line-height: 2rem;
	display: inline-block;
}

nav {
	display: grid;
	grid: auto / auto-flow;
	padding: 3px;
	margin-bottom: 24px;
	background: #ddd;
	border-radius: 10px;
}

nav a {
	display: block;
	color: #000;
	text-align: center;
	line-height: 32px;
	text-decoration: none;
}

nav a.active {
	background: #fff;
	font-weight: 500;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.articleAbout a {
	display: block;
	color: #000;
	// text-align: center;
	line-height: 32px;
	text-decoration: none;
}

.articleAbout a.active {
	background: #fff;
	font-weight: 500;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

// test
.test {
	color: red;
}
.test2 {
	color: green;
	font-size: large;
}

.mt-touch {
	color: rgb(255, 81, 0);

	@media screen and (max-width: 1023px) {
		margin-top: 0px;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 1rem;
	}
}
